USE [master]
GO
/****** Object:  Database [Employee]    Script Date: 5/31/2020 11:24:31 AM ******/
CREATE DATABASE [Employee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Employee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Employee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Employee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employee]
GO
USE [Employee]
GO
/****** Object:  Table [dbo].[Emp]    Script Date: 5/31/2020 11:24:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Salary] [bigint] NOT NULL,
 CONSTRAINT [PK_Emp] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Emp] ([ID], [Name], [Salary]) VALUES (101, N'Pankaj Sharma', 111000)
INSERT [dbo].[Emp] ([ID], [Name], [Salary]) VALUES (102, N'Priyanka', 99777)
INSERT [dbo].[Emp] ([ID], [Name], [Salary]) VALUES (103, N'Ajeet', 78787)
USE [master]
GO
